<form class="register" [formGroup]="form" (ngSubmit)="register()">

    <fieldset>
        <h2>Registration Form</h2>

        <!-- username -->
        <p class="field field-icon">
            <label for="username"><span><i class="fas fa-user"></i></span></label>
            <input [class.input-error]="isUsernameInvalid" type="text" formControlName="username" id="username"
                placeholder="Johny">
        </p>
        @if (isUsernameInvalid) {
        <p class="error">
            {{invalidUsernameMsg}}
        </p>
        }


        <!-- email -->
        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input type="email" id="email" formControlName="email" placeholder="john.doe@gmail.com"
                [class.input-error]="isEmailInvalid" />
        </p>
        @if (isEmailInvalid) {
        <p class="error">
            {{invalidEmailMsg}}
        </p>
        }

        <!-- telephone -->
        <p class="field field-icon">
            <label for="tel"><span><i class="fas fa-phone"></i></span></label>
            <select id="select-tel" class="tel">
                <option value="00359">+359</option>
            </select>
            <input type="text" id="tel" formControlName="tel" placeholder="885 888 888"
                [class.input-error]="isTelInvalid" />
        </p>

        @if (isTelInvalid) {
        <p class="error">
            {{invalidTelMsg}}
        </p>
        }

        <div formGroupName="passwords">
<!-- password -->
        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-lock"></i></span></label>
            <input type="password" id="password" formControlName="password" placeholder="******"
                [class.input-error]="isPasswordInvalid" />
        </p>
        @if (isPasswordInvalid){
        <p class="error">
            {{invalidPassMsg}}
        </p>
        }

        <!-- rePassword -->
        <p class="field field-icon">
            <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
            <input type="password" id="repass" formControlName="repass" placeholder="******"
                [class.input-error]="isRepassInvalid" />
        </p>
        @if (isRepassInvalid) {
        <p class="error">
            {{ invalidRepassMsg }}
        </p>
        }
        </div>
        

        <button [disabled]="form.invalid">Create Account</button>

        <p class="text-center">
            Have an account?
            <a routerLink="/login">Log In</a>
        </p>

    </fieldset>
</form>